---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Bienvenido">
  <ul>
    <li><a href="/lista_pokemones/pokedex/">Pokedex</a></li>
    <li><a href="/lista_pokemones/capturados/">Pokemones Capturados</a></li>
  </ul>
</Layout>