---
import "../styles/index.css"
import pokemonLogo from '../assets/pokemonLogo.png';
const { title } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title || 'Mi Proyecto Astro'}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <img src={pokemonLogo.src} width="350px"  alt="Pokemon Logo">
    </header>
    
    <main class="container">
      <slot />
    </main>

  </body>
</html>
