---
import "../styles/index.css"
const { title } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title || 'Mi Proyecto Astro'}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <img src="../../public/pokemonLogo.png" width="350px">
    </header>
    
    <main class="container">
      <slot />
    </main>

  </body>
</html>
