---
import pokemonLogo from '../assets/pokemonLogo.png';
const { title } = Astro.props;
import '../styles/global.css'
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title || 'Mi Proyecto Astro'}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="my-10 min-h-screen flex flex-col gap-10 bg-linear-to-b from-blue-100 to-blue-500 ">
    <header class="flex justify-center">
      <img src={pokemonLogo.src} width="350px"  alt="Pokemon Logo">
    </header>
    
    <main class="flex justify-center">
      <slot />
    </main>

  </body>
</html>
